/* CSS declarations go here */

/* navbar fix taille */
.navbar-brand 
{
    padding-top: 0;
}

/* corrige la taille de l'image des card */
.card-img-top {
  
  height: 15vw;
  object-fit: cover;
}

/*.navbar-custom{
  background-color: #242424;
}*/

.navbar-custom2{
  color: #d4d4d4;
}

.txt-custom{
  color: #2e2e30;
}
.btn-custom{
  background: #ca0000;
}

html body {
  background-color: #d7d4cf;
}

