/* CSS declarations go here */
body{
  padding:30px;
  display: grid;
  grid-template-areas:
  'menu menu parametres'
  'membres video video'
  'membres recherche recherche'
  'membres playlist playlist';
  grid-template-rows: 100px 1fr 100px 3fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap:10px;
}

#player{
  grid-area: video;
  display: block;
  width: 100%;
}

.nouvelleChanson{
  grid-area: recherche;
  display: block;
  width: 100%;
}

#header{
  display: inline-flex;
}

#parametres{
  grid-area: parametres;
  text-align: right;
}

#affichagePlaylist{
  grid-area: playlist;
}
