<template name="abouttemplate">
      
       
       <div class="card">
            <img class="card-img-top" src="\images\image3.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Youtube Collaborator</h5>
              <p class="card-text">est une application conçue dans le cadre du cours Javascript II - Meteor.js à l'Université de Lausanne. Conçue par Arnaud Stephan, Fábio Cabral, Oriane Van Uchelen, Noémie Carette, l'application permet de créer et partager des playlists en temps-réel.<br>Tous les utilisateurs de la salle peuvent ajouter des chansons et voter afin que la playlist de la soirée soit organisée de façon organique.</p>
            </div>
          </div>
    </template>