<template name="qrcodetemplate">
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Montrer QR Code
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            {{> QRCode text=helperTEXT size="128px"}}
        </div>
      </div>
        
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Montrer QR Code
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {{> QRCode text=helperTEXT size="128px"}}
        </div>
      </div>
</template>