<template name="roomtemplate">
  <script
     type="text/javascript" 
     src="https://gdata.youtube.com/feeds/api/videos/videoid?v=2&alt=json-in-script&format=5&callback=getTitle"></script>
  {{> header}}
  {{> parametres}}
  <hr size="2">
  <div class="container">
     <div class="row">
        <div class="col">
           {{> youTube}}
        </div>
        <div class="col">
           <ul id="chansonsFinies">
              <h3 class="txt-custom">Chansons déjà passées</h3>
              {{#each chansonsFinies}}
              {{> recap}}
              {{/each}}
           </ul>
        </div>
     </div>
     <div class="row">
        <div class="col">
           {{> search}}
           <ol id="affichagePlaylist">
              {{#each chansonsFutures}}
              {{> chanson}}
              {{/each}}
           </ol>
        </div>
        <div class="col"></div>
     </div>
     
     {{> modalQR}}
  </div>
</template>