<template name="TemplateOri">
    





    <div class="col-sm-6">
        <!-- <div class="embed-responsive">
            <iframe class="embed-responsive-item" ALLOW-FROM="https://www.youtube.com/watch?v=hODF-c9nPNY" src="https://www.youtube.com/watch?v=hODF-c9nPNY" 
            width="300" height="150" autoplay="1"> </iframe>
          </div> -->

          <div align="center" class="embed-responsive embed-responsive-16by9">
              <video autoplay loop class="embed-responsive-item">
                  <source src="DANCING VISUALS.mp4">
              </video>
          </div>

        <div class="card">
           <!-- <img class="card-img-top" src="\images\cardheader.png" alt="Card image cap"> -->
          
            <div class="card-body">
              <h4 class="card-title">Créer une salle</h4>
              <p class="card-text">
                Cliquez ici si vous souhaitez créer une salle et inviter des amis
              </p>
              <form class="new-salle">
                <input type="text" name="text" placeholder="Nom de la soirée" />
              </form>
              <a href="/room" class="btn btn-primary">Démarrer</a>
            </div>
          </div>
          </div>
          
        <div class="col-sm-6">
          <div class="card">
                <img class="card-img-top" src="\images\cardheader2.png" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Rejoindre une salle</h4>
                  <p class="card-text">
                    Cliquez ici si vous souhaitez rejoindre une salle existante
                  </p>
                  <a href="/search" class="btn btn-primary">Démarrer</a>
                </div>
              </div>
            </div>
              
          
</template>
